body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: url("../img/ZimmerHauptseite.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}



#arrowButton {
    position: absolute;
    right: 2%;
    top: 40%;
    color: rgb(142, 4, 4);
    font-size: 12rem;
    transition: transform 0.4s ease, color 0.4s ease;
}

#arrowButton:hover {
    cursor: pointer;
    color: rgb(210, 15, 15);
    transform: scale(1.2);
}


@media (max-width: 768px) {
    #arrowButton {
        font-size: 3rem;
        left: 3%;
    }
}