body{
    background-image: url(../img/TippsUndTricksBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#bubble{
    position: absolute;
    color: black;
}