body{
    background-image: url(../img/TippsUndTricksBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#bubble{
    position: absolute;
    color: black;
}

#datum{
    color: white;
    position: absolute;
    top: 89vh;
    left: 28.5vw;
    font-size: 2.5vw;
}